/*
theme para DP
*/

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
}
h2, .h2{ 
	font-size: 60px;
	font-weight: 800;
	color: #f26321;
}
h3, .h3 {
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
}
.navbar-brand{
	height: 100px;
}
.navbar-inverse {
  background-color: #f26321;
  border-color: #080808;
}

.main-wrapper {
    padding-top: 100px;
    background: #fff;
}
.section-content {
    margin-left: 15px;
}

.versus-wrap{
  box-shadow: 1px -0.268px 4px 0px rgb( 48, 48, 48 );
}
.versus-layout .section-2{
  padding-bottom: 20px;
}
/**/
.votos .item 
{
    text-align: center;
    line-height: 1;
}
.votos .bola {
    background: none repeat scroll 0 0 #DADADA;
    border-radius: 60px;
    height: 120px;
    width: 120px;
    position: relative;
    margin: 0 auto;
}
.votos .volanta{
    font-size: 30px;
}
.votos .item1 .volanta {
    margin: 15px 0 5px;
}
.votos .number {
    font-size: 36px;
}
.votos .item1 .number {
    color: #f26321;
}
.votos .item2 .number {
    margin-bottom: 5px;
    padding-top: 35px;
    color: #009BA6;
}
.votos .item2 .final {
    margin-top: 5px;
}
.votos .v-label{
    font-size: 16px;
    text-transform: uppercase;
}
/*Banner*/
.banner {
    background: none repeat scroll 0 0 #000000;
    height: 110px;
}
.adt-brand{ margin: 10px 0;}
.footer-web{
	font-family: Arial, sans-serif;
	font-size: 11px;
	background-color: #f26321;
	padding: 20px 0;
	color:#ffffff;
}
.section-1
{margin-bottom: 30px}
.section-header h2 {
    letter-spacing: -2px;
}

.section-content .row {
   /* border-bottom: 1px solid #CCCCCC;*/
    font-family: arial;
    /*padding: 20px 0;*/
}


.label-vs {
    color: #777777;
    font-size: 11px;
    text-transform: uppercase;
}
.cajita {
   /* background: none repeat scroll 0 0 #FFC0CB;*/
    display: table-cell;
    float: none;
}

.row-wrap {
    display: table;
    width: 100%;
}
.item-wrapper {
    display: block;
    height: 100%;
    width: 100%;
}

.row .item-1{
	border-left:1px solid #F26321;
}
.row .item-1 .item-wrapper{
	border-right:1px solid #F26321;
	padding-right: 15px;
}
.row .item-2{
	border-left:1px solid #F26321;
	border-right:1px solid #F26321;
}
.row .item-2 .item-wrapper{
	/*border-left:1px solid #F26321;*/
}
.row  .item-wrapper > *
{
	margin: 0 0 10px;
    margin: 0;
    padding: 5px 0 10px;
}

.row-wrap > div {
    border-top: 1px solid #CCCCCC;
}
.row-wrap > div:last-child {
    border-top: medium none;
}

.img-candidato .row-wrap > div {
    border-top: medium none;
}


.box-wrap {
    border:1px solid #F26321;
    display: block;
    padding-left: 15px;
}

.box-cont {
    height: 10px;
}

.col-box {
    padding-left: 0;
}
.dos
{
		border:1px solid #F26321;
}

.row.top .box-wrap, .top .dos {
	    border-radius: 10px 10px 0 0;
	border-bottom: none;
 }
.row.bottom .box-wrap, .row.bottom .dos {
     border-top: none;
      border-radius: 0 0 10px 10px;
 }

 .button2 .row-wrap > div {
    border-top: medium none;
}

.row.button1 .item-wrapper > * {
    padding-top: 20px;
}
.row.button2 .item-wrapper > * {
    padding-top: 0;
}
.btn-primary{
    background-color: #F26321;
    border-color:#E25311;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #E25311;
    border-color: #285E8E;
    color: #FFFFFF;
}
.btn-lg, .btn-group-lg > .btn{ 
	border-radius: 0px;
	font-size: 13px;
}
.btn-success {
  color: #fff;
  background-color: #009ba6;
  border-color: #0094A6;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #008B96;
  border-color: #007B86;
}
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-image: none;
}

.btn-alpha {
  color: #fff;
  background-color: #424a56;
  /*border-color: #0094A6;*/
}

.btn-alpha:hover,
.btn-alpha:focus,
.btn-alpha:active,
.btn-alpha.active,
.open .dropdown-toggle.btn-alpha {
  color: #fff;
  background-color: #525A66;
  /*border-color: #007B86;*/
}

.btn-beta {
  color: #F26321;
  background-color: #DADADA;
  /*border-color: #0094A6;*/
}

.btn-beta:hover,
.btn-beta:focus,
.btn-beta:active,
.btn-beta.active,
.open .dropdown-toggle.btn-beta {
  color: #F26321;
  background-color: #BABABA;
  /*border-color: #007B86;*/
}
/*----*/
.divider{
	 /* box-shadow: 1px 1.732px 4px 0px rgb( 48, 48, 48 );*/
	    display: block;
    height: 10px;
    width: 100%;
    position: relative;
    margin-top: 20px;
}
.divider2, .divider3 {
    border-bottom: 2px solid #424A56;
    color: #424A56;
    height: 9px;
    text-align: center;
    margin-bottom: 20px;
} 

.divider3 {
    border-bottom: 1px solid #424A56;

}
.col-center .btn,
.col-center > *
{
  margin: 0 auto;
}
ul.footer-social-buttons li {
    font-size: 20px;
    list-style: none outside none;
}
.footer-social .fa {
    color: #FFFFFF;
    font-size: 2em;
}



.list-inline.soc-list li {
    padding: 0;
}

.soc-btn .gh-ico {
    background: none repeat scroll 0 0 #0000FF;
    display: block;
    height: 28px;
    width: 28px;
}

.soc-btn .gh-ico.linkedin {
    background: url("../img/linkedin.png") no-repeat scroll 0 0 transparent;
}
.soc-btn .gh-ico.facebook {
    background: url("../img/facebook.png") no-repeat scroll 0 0 transparent;
}
.soc-btn .gh-ico.twitter {
    background: url("../img/twitter.png") no-repeat scroll 0 0 transparent;
}
.soc-btn .gh-ico.youtube {
    background: url("../img/youtube.png") no-repeat scroll 0 0 transparent;
}
.soc-btn .gh-ico.blogger {
    background: url("../img/blogger.png") no-repeat scroll 0 0 transparent;
}
.soc-btn .gh-ico.kickstarter {
    background: url("../img/kickstarter.png") no-repeat scroll 0 0 transparent;
}

.row .item-wrapper .item-center {
    display: table;
    margin: 0 auto;
}

.item-center img,
.item-center2 img  {
    border-bottom: 10px solid #424A56;
}
.list-inline.soc-list {
    display: table;
    margin: 5px 0 0;
    margin: 0px;
}

.item-vs {
    background: none repeat scroll 0 0 #F26321;
    border-radius: 40px;
    display: block;
    height: 70px;
    left: -43px;
    position: absolute;
    top: 100px;
    width: 70px;
    z-index: 4;
}
.item-vs > span {
    color: #FFFFFF;
    font-family: 'Open Sans',sans-serif;
    font-size: 30px;
    left: 18px;
    position: absolute;
    top: 12px;
}

.triangle-down{
    background: url("../img/item-caret-down.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: -28px;
    color: #FF0000;
    display: block;
    font-size: 20px;
    height: 30px;
    left: 50%;
    margin-left: 45px;
    position: absolute;
    width: 70px;

}
.legal{
    font-size: 12px;
}
.legal span{
    text-decoration: underline;
}
/*pag-02*/
.campos {
    padding: 0;
}
.campos li {
    border-top: 1px dotted #CCCCCC;
    list-style: none outside none;
}
.campos li:first-child {
    border:0;
}
.campos li.name span{ display: none;}
.campos li.name p{ 
  font-size: 16px;
font-weight: bold;}

.item-center2 {
    position: relative;
}
.desplegable .glyphicon {
    display: table;
    margin: 0 auto;
}
.panel-tab a {
    text-decoration: none;
}
.item-label {
    font-size: 11px;
    font-style: italic;
}
.thumbnail-panel {
    border: 1px solid #F26321;
    padding: 10px;
}
.thumbnail:hover, .halfcircle-bottom:hover {
    background: none repeat scroll 0 0 #EDEDED;
    /*border: 1px solid #ccc;*/
}
.halfcircle-bottom{
      height:16px;
     width:35px;
     border: 1px solid #f26321;
     border-radius: 0 0 90px 90px;
     -moz-border-radius: 0 0 90px 90px;
     -webkit-border-radius: 0 0 90px 90px;
     font-size: 11px;
     border-top: 0;
     background: #ffffff;
}
.panel-title {
    bottom: -36px;
    color: inherit;
    font-size: 16px;
    left: 50%;
    margin-bottom: 0;
    margin-left: -15px;
    margin-top: 0;
    position: absolute;
}

@media (max-width: 767px) {
.row.img-candidato img {
    width: 124px;
}
.list-inline.soc-list li {
    float: left;
    padding: 0 4px 0 0;
}
.section-content {
    margin-left: 0px;
}
.triangle-down{
margin-left: -40px;

}
}
/*xxs*/
@media (max-width: 380px) {
.row.img-candidato img {
    width: 124px;
}
.list-inline.soc-list li {
    float: left;
    padding: 0 2px 0 0;
}
}
